In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df1 = pd.DataFrame([['Amazon', 6400, 7050000],
                   ['Congo', 4371, 4014500],
                   ['Yangtze', 6418, 1808500],
                   ['Mississippi', 3730, 3202230]],
                 columns=['River','Length (km)','Drainage Area (km^2)'])
df1

         River  Length (km)  Drainage Area (km^2)
0       Amazon         6400               7050000
1        Congo         4371               4014500
2      Yangtze         6418               1808500
3  Mississippi         3730               3202230

In [49]:
# read in my csv 
bsrn = pd.read_csv("https://raw.githubusercontent.com/environmental-data-science" \
            "/eds217_2023/main/data/BSRN_GOB_2019-10.csv")

In [37]:
#get the names of my columns
bsrn.columns

Index(['DATE', 'H_m', 'SWD_Wm2', 'STD_SWD', 'DIR_Wm2', 'STD_DIR', 'DIF_Wm2',
       'STD_DIF', 'LWD_Wm2', 'STD_LWD', 'SWU_Wm2', 'LWU_Wm2', 'T_degC', 'RH',
       'P_hPa'],
      dtype='object')

In [38]:
# look at the datav type of the first column
bsrn.iloc[0].info()

<class 'pandas.core.series.Series'>
Index: 15 entries, DATE to P_hPa
Series name: 0
Non-Null Count  Dtype
--------------  -----
15 non-null     object
dtypes: object(1)
memory usage: 240.0+ bytes

In [48]:
# how many values are there in the entire data frame
bsrn.size

669600

ðŸ“š Practice 3.
Create a new DataFrame containing the first record for each day and the following columns: the timestamp of the record, incoming shortwave radiation, direct and diffuse radiation, and incoming longwave radiation. (Hint: the BSRN station collects data every minute).

Create a new Series containing the temperature values every hour at the top of the hour.

Convert the DATE column to datetime using the pd.to_datetime() function.

Set the DATE column as the index of the DataFrame using the set_index() method.

In [50]:
bsrn['DATE'] = pd.to_datetime(bsrn['DATE'])
bsrn.DATE.dt.time #extract time from datetime

#create new column with our first reacord for each day
bsrn['time_first'] = bsrn.DATE.dt.time == bsrn.DATE.dt.time[0]

In [51]:
df = bsrn[
    bsrn.DATE.dt.time == bsrn.DATE.dt.time[0]# find all the rows where it's the first record of the day
][
    ['DATE', 'SWU_Wm2', 'DIR_Wm2', 'DIF_Wm2']## find all the rows where it's the first record of the day
]

df
#OR
#bsrn.iloc[
#  0::1440# find all the rows where it's the first record of the day
#][
#   ['DATE', 'SWU_Wm2', 'DIR_Wm2', 'DIF_Wm2']## find all the rows where it's the first record of the day
#]

            DATE  SWU_Wm2  DIR_Wm2  DIF_Wm2
0     2019-10-01        0      0.0     -3.0
1440  2019-10-02        0      0.0     -2.0
2880  2019-10-03        0      0.0     -2.0
4320  2019-10-04        0      0.0     -3.0
5760  2019-10-05        0      0.0     -2.0
7200  2019-10-06        0      0.0     -3.0
8640  2019-10-07        0      0.0     -3.0
10080 2019-10-08        0      0.0     -3.0
11520 2019-10-09        0      0.0     -2.0
12960 2019-10-10        0      0.0     -2.0
14400 2019-10-11        0      0.0     -2.0
15840 2019-10-12        0      0.0     -2.0
17280 2019-10-13        0      0.0     -3.0
18720 2019-10-14        0      0.0     -2.0
20160 2019-10-15        0      0.0     -2.0
21600 2019-10-16        0      0.0     -3.0
23040 2019-10-17        0      0.0     -2.0
24480 2019-10-18        0      0.0     -2.0
25920 2019-10-19        0      0.0     -2.0
27360 2019-10-20        0      0.0     -2.0
28800 2019-10-21        0      0.0     -3.0
30240 2019-10-22        0      0.0     -3.0
31680 2019-10-23        0      0.0     -3.0
33120 2019-10-24        0      0.0     -2.0
34560 2019-10-25        0      0.0     -2.0
36000 2019-10-26        0      0.0     -2.0
37440 2019-10-27        0      0.0     -3.0
38880 2019-10-28        0      0.0     -2.0
40320 2019-10-29        0      0.0     -3.0
41760 2019-10-30        0      0.0     -3.0
43200 2019-10-31        0      0.0     -2.0

In [52]:
# Option 1 - overwrite the original data set
bsrn = bsrn.set_index('DATE')
bsrn

# Option 2 - use inplace = TRUE
#bsrn.set_index('DATE', inplace=True)

,H_m,SWD_Wm2,STD_SWD,DIR_Wm2,STD_DIR,DIF_Wm2,STD_DIF,LWD_Wm2,STD_LWD,SWU_Wm2,LWU_Wm2,T_degC,RH,P_hPa,time_first
DATE,,,,,,,,,,,,,,,
2019-10-01 00:00:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.2,30.7,966,True
2019-10-01 00:01:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.3,0,383,16.4,30.7,966,False
2019-10-01 00:02:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.2,0,383,16.5,30.5,966,False
2019-10-01 00:03:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.5,30.4,966,False
2019-10-01 00:04:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.8,30.5,966,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-31 23:55:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.0,35.6,964,False
2019-10-31 23:56:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.1,35.5,964,False
2019-10-31 23:57:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.0,35.3,964,False
2019-10-31 23:58:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,381.0,0.2,0,423,23.0,35.2,964,False
2019-10-31 23:59:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,381.0,0.1,0,423,23.1,35.0,964,False

ðŸ“š Practice 4.
Calculate the mean incoming shortwave, outgoing shortwave, incoming longwave, and outgoing longwave radiation over the entire month.

In [54]:
print(bsrn.SWU_Wm2.mean()) 
print(bsrn.LWD_Wm2.mean())
print(bsrn.SWD_Wm2.mean())
print(bsrn.LWD_Wm2.mean())

110.44500448028674
342.35069187467764
318.0465157965494
342.35069187467764

ðŸ“š Practice 5. 
Add a column â€˜NET_SWâ€™ to bsrn with the net shortwave radiation.
Add a column â€˜NET_LWâ€™ to bsrn with the net longwave radiation.
Add a column â€˜NET_RADâ€™ to bsrn with the net total radiation.

Create a new DataFrame with the day of the month and daily mean values of shortwave incoming, shortwave outgoing, longwave incoming, longwave outgoing radiation, and net total radiation. (Hint: use masking!).

In [60]:
# To get you started, here's some example code to create a new dataframe containing each day, and the average incoming shortwave (solar) radiation, avg_SWD (aka SW_in),  and the average outgoing shortwave (solar) radiation, avg_SWU (aka SW_out):

daily_rad = []
for d in bsrn.index.day.unique():
    avg_SWD = bsrn.SWD_Wm2[bsrn.index.day == d].mean()
    avg_SWU = bsrn.SWU_Wm2[bsrn.index.day == d].mean()
    # Append the current day and these two values to our list of daily radiation values:
    daily_rad.append([d, avg_SWD, avg_SWU])

daily_SW = pd.DataFrame(daily_rad, columns=['day', 'SW_in', 'SW_out'])

In [58]:

bsrn['NET_SW'] = bsrn['SWD_Wm2'] + bsrn['SWU_Wm2'] #new column for net shortwave
bsrn['NET_LW'] = bsrn['LWD_Wm2'] + bsrn['LWU_Wm2'] #new column for net longwave
bsrn['NET_RAD'] = bsrn['NET_SW'] + bsrn['NET_LW'] #new net column

In [64]:
# To get you started, here's some example code to create a new dataframe containing each day, and the average incoming shortwave (solar) radiation, avg_SWD (aka SW_in),  and the average outgoing shortwave (solar) radiation, avg_SWU (aka SW_out):

daily_rad = [] #I need an empty list in order to make a list within this
for d in bsrn.index.day.unique():
    avg_SWD = bsrn.SWD_Wm2[bsrn.index.day == d].mean()
    avg_SWU = bsrn.SWU_Wm2[bsrn.index.day == d].mean()
    avg_LWD = bsrn.LWD_Wm2[bsrn.index.day == d].mean()
    avg_LWU = bsrn.LWU_Wm2[bsrn.index.day == d].mean()
    avg_NET = bsrn.NET_RAD[bsrn.index.day == d].mean()
    # Append the current day and these two values to our list of daily radiation values:
    daily_rad.append([d, avg_SWD, avg_SWU, avg_LWD, avg_LWU, avg_NET])

daily = pd.DataFrame(daily_rad, columns=['day', 'SW_in', 'SW_out', 'LW_in', 'LW_out', 'NET'])

In [65]:
daily

    day       SW_in      SW_out       LW_in      LW_out          NET
0     1  325.336345  115.334028  321.219903  458.834028  1221.139276
1     2  322.732453  113.939583  318.131341  448.486111  1203.527816
2     3  298.635417  103.261806  330.516667  429.979861  1162.393750
3     4  323.209173  113.222222  314.129526  439.990972  1190.203484
4     5  296.861806  105.461806  324.660876  427.359722  1154.080612
5     6  292.118915  104.219444  330.458333  428.665278  1155.502086
6     7  339.848611  119.959722  303.437413  439.002778  1202.319193
7     8  332.009028  116.752778  313.126653  438.550000  1200.466249
8     9  290.577083  104.436806  342.506267  428.110417  1166.443593
9    10  310.887500  108.638889  331.667130  434.941667  1186.308548
10   11  312.226389  108.406250  350.486787  458.562500  1229.732962
11   12  313.099306  108.276389  375.387500  483.829167  1280.592361
12   13  292.540972   97.745833  389.507307  485.947222  1266.384830
13   14  210.243056   76.329167  390.913829  470.870139  1148.476720
14   15  294.886806   91.408333  399.457639  500.201389  1285.954167
15   16  322.011111  114.262500  400.745833  510.212500  1347.231944
16   17  306.800000  106.773611  390.968033  492.745833  1297.366227
17   18  298.656250  104.536111  364.097222  459.456944  1226.746528
18   19  314.968750  110.327083  365.431250  460.609028  1251.336111
19   20  329.323611  113.339583  357.791522  473.039583  1273.521890
20   21  338.721334  117.433333  340.713189  470.612500  1267.533147
21   22  338.259722  117.554861  325.689368  441.588194  1223.104239
22   23  354.881944  122.917361  306.553857  438.565972  1222.908270
23   24  344.563194  119.732639  319.499653  452.019444  1235.761640
24   25  261.228472   87.575000  344.902643  441.439583  1135.441586
25   26  345.552778  118.828472  337.203614  459.212500  1260.745657
26   27  356.714583  123.323611  309.846421  434.491667  1224.315497
27   28  358.297636  125.206944  303.482615  421.080556  1207.439415
28   29  352.906944  122.894444  322.271399  448.573611  1246.614475
29   30  357.626129  123.736806  331.607516  462.778472  1275.938022
30   31  323.794302  107.959722  356.192629  466.917361  1254.858832